apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: radix-public-site
spec:
  build:
    useBuildKit: true
    useBuildCache: true
  environments:
    - name: prod
    - name: qa
      build:
        from: main
  components:
    - name: public-site
      readOnlyFileSystem: true
      ports:
        - name: http
          port: 8080
      publicPort: http
      runtime:
        architecture: arm64
      resources:
        requests:
          memory: 30M
          cpu: 5m
        limits:
          cpu: 5m
      volumeMounts:
        - name: tmp
          path: /tmp
          emptyDir:
            sizeLimit: 10M
      environmentConfig:
        - environment: qa
          horizontalScaling:
            maxReplicas: 1
            minReplicas: 0
            triggers:
              - name: cron
                cron:
                  timezone: Europe/Oslo
                  start: 0 7 * * 1-5 # 07:00 Monday - Friday
                  end: 0 17 * * 1-5 # 17:00 Monday - Friday
                  desiredReplicas: 1
        - environment: prod
          replicas: 2
