version: '2'
services:
  www:
    build: ./frontend
    ports:
     - "3001:3001"
    environment:
     - ECHO_URL=http://server:3000
  server:
    build: ./backend
    ports:
     - "3000:3000"
    environment:
     - GREETING_MESSAGE=Hello there
