/**
* Disable the fade-slide-y transition in the default theme
* Source:
*  - https://github.com/vuepress/vuepress-next/blob/main/ecosystem/theme-default/src/client/styles/transitions.scss
*  - https://github.com/vuepress/vuepress-next/blob/db3ce2cc5fcee113cdd16d84c89d08fba2f6929e/ecosystem/theme-default/src/client/layouts/Layout.vue#L125
*/
.fade-slide-y-enter-active,
.fade-slide-y-leave-active {
    transition: unset;
}
.fade-slide-y-enter-from,
.fade-slide-y-leave-to {
    transform: unset;
    opacity: unset;
}