/**
 * Custom palette
 *
 * ref：https://v1.vuepress.vuejs.org/config/#palette-styl
 */

// colors
$accentColor = #007079
$textColor = rgba(61, 61, 61, 1)
$borderColor = #eaecef
$codeBgColor = #282c34
// $arrowBgColor =
// $badgeTipColor =
// $badgeWarningColor =
// $badgeErrorColor =

// layout
// $navbarHeight =
// $sidebarWidth =
// $contentWidth =
// $homePageWidth =

// responsive breakpoints
// $MQNarrow =
// $MQMobile =
// $MQMobileNarrow =

// code
// $lineNumbersWrapperWidth =
// $codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
