.o-footer-container {
  display: flex;
}

.o-footer-container div:last-child {
  margin-left: auto;
}

.o-version-info {
  color: var(--color-aux-info);
  align-items: flex-end;
}

:root {
  --color-aux-info: hsl(180, 60%, 40%);
}
