<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </p>
    <h2>Hello!</h2>
    <h3>Version 1</h3>
    <p><a href="/echo">Request echo info</a></p>
  </body>
</html>
