
name: radix-public-site-pr
on:
  pull_request:
    branches:
    - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build docker image
      working-directory: public-site
      env:
        REF: ${{ github. sha }}
      run: docker build -t radix-public-site:${REF##*/} .

  validate-radixconfig:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: 'Get Azure principal token for Radix'
        run: |
          echo "::add-mask::$token"
          echo "APP_SERVICE_ACCOUNT_TOKEN=hello-world" >> $GITHUB_ENV
      - name: 'Validate public-site'
        uses: equinor/radix-github-actions@v1
        with:
          args: validate radix-config --config-file radixconfig.yaml
      - name: 'Validate oauth example radix-app'
        uses: equinor/radix-github-actions@v1
        with:
          args: validate radix-config --config-file examples/radix-example-oauth-proxy/radixconfig.yaml
